@using HomeArchiveX.Web.Models
@model HomeArchiveX.Web.Models.FileOnDriveViewModel


@helper BuildListOfFiles(IEnumerable<FileOnDriveTreeViewItem> data, int? parentId = null)
{
var items = data;
if (items.Any())
{
        <ul>
            @foreach (var item in items)
            {
                <li>
                    <a href="#">@item.Title</a>
                    @BuildListOfFiles(@item.Items, item.ArchivEntityId)
                </li>
            }
        </ul>
}
}

<div id="cssmenu">
    @BuildListOfFiles(Model.Items)
</div>

    
    
   

                @*@Html.ActionLink("Edit", "Edit", new {  id=item.ArchiveEntityKey }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArchiveEntityKey }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArchiveEntityKey })*@
         


