@model HomeArchiveX.Web.Models.FileOnDriveViewModel

@using HomeArchiveX.Web.Models





@helper BuildListOfFiles(IEnumerable<FileOnDriveTreeViewItem> data, int? parentId = null)
{
var items = data;
if (items!=null && items.Any())
{
        <ul>
            @foreach (var item in items)
            {
                <li>
                    <a href="@Url.Action("Details", "SingleFile", new { id=item.ArchivEntityId})">@item.Title</a>
                    @BuildListOfFiles(@item.Items, item.ArchivEntityId)
                </li>
            }
        </ul>
}
}


<div id="cssmenu">

@BuildListOfFiles(Model.Items)
</div>
    
    
   

                @*@Html.ActionLink("Edit", "Edit", new {  id=item.ArchiveEntityKey }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArchiveEntityKey }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArchiveEntityKey })*@
         


